/*
 * 0 - 600: Phone
 * 600 - 900: Tablet Portrait
 * 900 - 1200: Tablet Landscape
 * 1800 + : Big Desktop 
*/
/*
 * $breakpoint argument choices:
 * 
 * - phone
 * - tab-port
 * - tab-land
 * - big-desktop
 *
 */
/*
* Add vanilla CSS variables.
*
* It is possible to apply logic to these
* different from SASS ones.
*/
:root {
  /* Colors */
  --color-primary-300: #FE8848;
  --color-primary-400: #fd683b;
  --color-primary-700: #FE4449;
  --color-secondary-300: #e1e5e6;
  --color-secondary-400: #dfe6e9;
  --color-secondary-700: #747d8c;
  --color-affluent-300: #3498db;
  --color-affluent-400: #ffa502;
  --color-black: #141526;
  /* Sizes */
  --font-size-300: 1.6rem;
  --font-size-400: 2rem;
  --font-size-700: 3rem;
  /* Positioning */
  --padding-section: 5rem;
  --padding-cards: 3.5rem;
  /* Spacing */
  --default-section-size: 85rem;
  /* Other */
  --default-border-radius: 10px;
}

/* Colors */
/* Positioning */
/* Other */
html {
  background-color: #141526;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  margin: 0;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Positioning */
/* Display & Box Model */
/* Other */
.btn {
  /* Positioning */
  padding: 0.5em 1em;
  /* Other */
  background-color: transparent;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-size: inherit;
  font-weight: 700;
}
@media only screen and (max-width: 75rem) {
  .btn {
    padding: 1em 1.5em;
  }
}
.btn-affluent {
  /* Other */
  background: linear-gradient(to bottom, var(--color-affluent-400), var(--color-primary-400));
  color: var(--color-secondary-300);
  transition: all 0.1s;
}
.btn-affluent:hover {
  /* Other */
  background: linear-gradient(to bottom, rgb(231.5, 149.1482213439, 0), rgb(252.7424242424, 84.553030303, 33.7575757576));
}
.btn-alt-300 {
  /* Other */
  border: 0.1rem solid rgba(236, 240, 241, 0.1);
  color: var(--color-secondary-300);
  transition: all 0.2s;
}
.btn-alt-300:hover {
  background-color: rgba(223, 230, 233, 0.1);
}
.btn-alt-400 {
  /* Other */
  border: 0.1rem solid var(--color-secondary-300);
  color: var(--color-secondary-300);
  transition: all 0.2s;
}
.btn-alt-400:hover {
  box-shadow: 0px 0px 15px rgba(236, 240, 241, 0.5);
}

.header {
  height: 91vh;
  background-image: linear-gradient(to top, #141526 10%, transparent), url("../../img/hero.webp");
  background-size: cover;
  background-position: top;
  position: inherit;
}
.header__blur {
  position: absolute;
  height: 91vh;
  width: 100%;
}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .header__blur {
    /* Other */
    webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(10px);
  }
}

/*# sourceMappingURL=style.css.map */
