.header {
    background-image: linear-gradient(to top, rgba($color-black, 1) 10%, rgba($color-black, .85)), url("./../../img/hero.webp");
    background-position: top;
    background-size: cover;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $default-gap-size;
        padding: $padding-section;
        padding-top: $padding-between-section;

        @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
            /* Other */
            webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
        }  
        
        @include responsive(tab-port) {
            flex-direction: row;
            justify-content: center;
            // height: 70vh;
        }
    }

    &__first {
        display: flex;
        flex-direction: column;
        gap: $default-gap-size;
        max-width: $max-text-width;
        
        h1 {
            // animation: downToUp .4s ease-in;
            max-width: rem(450);

            span {
                color: $color-primary-400;
            }

            @include responsive(tab-port) {
                text-align: start;
            }
        }

        p {
            // animation: downToUp .4s .4s ease-in;
            animation-fill-mode: backwards;
            max-width: rem(450);

            @include responsive(tab-port) {

                text-align: start;
            }
        }

        a {
            display: none;
            @include responsive(tab-port) {
                display: block;
            }
        }
    }

    &__second {
        // animation: fadeIn .4s .8s ease-in;
        animation-fill-mode: backwards;
        display: flex;
        justify-content: center;

        picture {
            min-width: 50%;
            max-width: rem(180);
        }
    }

    &__third{
        // animation: downToUp .4s 1.2s ease-in;
        animation-fill-mode: backwards;
        display: flex;
        justify-content: center;
        button {
            // animation: glow 3s infinite;
        }

        @include responsive(tab-port) {
            display: none;
        }
    }
}