.header {
    background-image: linear-gradient(to top, rgba($color-black, 1) 10%, rgba($color-black, .4)), url("../../img/hero.webp");
    background-position: top;
    background-size: cover;
    height: 91vh;
    position: inherit;

    &__blur {
        display: flex;
        flex-direction: column;
        height: 91vh;
        justify-content: space-evenly;
        padding: var(--padding-section);
        position: absolute;
        width: 100vw;
        z-index: 1;
        padding-top: rem(170);

        @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
            /* Other */
            webkit-backdrop-filter: blur(12px);
            backdrop-filter: blur(10px);
           
        }       
    }

    &__first {
        display: flex;
        flex-direction: column;

        span {
            background-clip: text;
            color: $color-primary-300;
        }
    }

    &__second {
        display: flex;
        justify-content: center;

        picture {
            width: rem(170);
        }
    }

    &__third {
        font-size: rem(20);
        display: flex;
        justify-content: center;

        button {
            animation: glow 3s infinite;
        }
    }
}