.mb-100 {
    margin-bottom: 1rem !important;
  }
  
  .mb-300 {
    margin-bottom: 3rem !important;
  }
  
  .mb-400 {
    margin-bottom: 4.5rem !important;
  }
  
  .mb-700 {
    margin-bottom: 7.5rem !important;
  }
  
  .mb-900 {
    margin-bottom: 12rem !important;
  }