:root {
    --color-primary-300: #FE8848;
    --color-primary-400: #fd683b;
    --color-primary-700: #FE4449;
  
    --color-secondary-300: #e1e5e6;
    --color-secondary-400: #dfe6e9;
    --color-secondary-700: #747d8c;
  
    --color-affluent-300: #3498db;
    --color-affluent-400: #ffa502;
  
    --color-black: #141526;
}

$color-primary-300: #FE8848;
$color-primary-400: #fd683b;
$color-primary-700: #FE4449;

$color-secondary-300: #ecf0f1;
$color-secondary-400: #dfe6e9;
$color-secondary-700: #747d8c;

$color-affluent-300: #3498db;
$color-affluent-400: #ffa502;

$color-black: #141526;