:root {
    --padding-section: 3rem;
    --padding-cards: 3.5rem;
    --default-section-size: 85rem;
}

    $padding-section: rem(30);
    $padding-cards: rem(17);
    $default-section-size: rem(10);
    $default-gap-size: rem(20);

    $padding-between-section: rem(100);