
    $font-size-200: rem(14);
    $font-size-300: rem(16);
    $font-size-400: rem(21);
    $font-size-500: rem(23);
    $font-size-700: rem(26);

    $font-weight-300: 200;
    $font-weight-400: 400;
    $font-weight-700: 700;