body {
    // Add my default typography
    font-family: "Roboto", sans-serif;
    color: var(--color-secondary-300);
    
}

.h1 {
  @include responsive(phone)
  {
    font-size: $font-size-500; 
    text-align: center;
  }

  @include responsive(tab-port)
  {
    font-size: $font-size-500; 
  }

  @include responsive(tab-land)
  {
    font-size: $font-size-500; 
  }

  @include responsive(big-desktop)
  {
    font-size: $font-size-500; 
  }
}

.h2 {
  font-weight: $font-weight-400;
  @include responsive(phone)
  {
    font-size: $font-size-400; 
    text-align: center;
  }

  @include responsive(tab-port)
  {
    font-size: $font-size-400; 
  }

  @include responsive(tab-land)
  {
    font-size: $font-size-400; 
  }

  @include responsive(big-desktop)
  {
    font-size: $font-size-400; 
  }
}

.p {
  font-weight: 200;
  line-height: 1;
  color: $color-secondary-400;
  
  @include responsive(phone)
  {
    font-size: $font-size-300; 
    text-align: center;
  }

  @include responsive(tab-port)
  {
  }

  @include responsive(tab-land)
  {
  }

  @include responsive(big-desktop)
  {
  }
}

.btn-text {
  font-weight: $font-weight-700;
  color: inherit;
  text-align: center;

  @include responsive(phone)
  {
    font-size: $font-size-200;
  }

  @include responsive(tab-port)
  {
  }

  @include responsive(tab-land)
  {
  }

  @include responsive(big-desktop)
  {
  }
}

